/*Global colors*/
/*Navbar colors*/
/* jumbo */
/* jumbo social */
/* get-started... */
/*design*/
/*gallery*/
/*our community*/
/*download*/
/*footer*/
/*buttons*/
@font-face { font-family: Gotham-Rounded-Bold; src: url(../fonts/Gotham-Rounded-Bold.otf); }

@font-face { font-family: Gotham-Rounded-Book; src: url(../fonts/Gotham-Rounded-Book.otf); }

@font-face { font-family: Gotham-Rounded-Medium; src: url(../fonts/Gotham-Rounded-Medium.otf); }

.btn { width: 166px; height: 49px; border-radius: 5px; outline: none; border: none; color: white; text-transform: uppercase; border-color: none; }

.brand-btn-container { width: 299px; padding-top: 10px; padding-bottom: 10px; margin: 0 auto; }

.brand-btn-container:after { display: block; content: ''; clear: both; }

.brand-button { background: #1abc9c; width: 240px; height: 56px; border: none; outline: none; border-top-left-radius: 5px; border-bottom-left-radius: 5px; text-transform: uppercase; font-size: 15px; font-family: Gotham-Rounded-Medium; color: white; float: left; }

.badge { height: 56px; background: #16a085; border-radius: 0; display: block; }

.fa-apple { font-size: 56px; margin-left: 5px; color: white; line-height: 45px; }

.fa-android { font-size: 56px; margin-left: 5px; color: white; line-height: 45px; }

@media (max-width: 768px) { .brand-btn-container { width: 180px; }
  .brand-btn-container .brand-button { width: 120px; } }

.btn-green { background: #16a085; }

.btn-green:hover { background: #117c67; transition: all 0.3s ease; }

.btn-green:active { background: #073028; }

h1 { font-size: calc(18px + 2 * ( (100vw - 420px) / 780)); }

@media screen and (max-width: 420px) { h1 { font-size: 18px; } }

@media screen and (min-width: 1200px) { h1 { font-size: 20px; } }

p { font-size: calc(14px + 4 * ( (100vw - 420px) / 780)); }

@media screen and (max-width: 420px) { p { font-size: 14px; } }

@media screen and (min-width: 1200px) { p { font-size: 18px; } }

*:focus { outline: none; }

.navigation { font-family: Gotham-Rounded-Bold; }

.navigation .navbar { padding: 0; }

.navigation .navbar ul li a { text-transform: uppercase; }

@media (max-width: 768px) { .navigation .navbar-nav { width: 100%; }
  .navigation .navbar-nav .nav-item.logo { width: 50%; }
  .navigation .navbar-nav .nav-btn { width: 50%; text-align: right; margin-top: 15px; }
  .navigation .navbar-collapse .navbar-nav .nav-item { text-align: center; transition: 300ms; }
  .navigation .navbar-collapse .navbar-nav .nav-item:hover { background: #1676a0; } }

.hero { background-image: url(../images/hero-compressed.jpg); background-position: center; background-repeat: no-repeat; background-size: cover; height: 91vh; }

.hero .container { position: relative; height: 91vh; }

.hero .container .hero-slogan { text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.hero .container .hero-slogan h1 { font-size: calc(28px + 32 * ( (100vw - 420px) / 780)); color: white; font-family: Gotham-Rounded-Medium; }

@media screen and (max-width: 420px) { .hero .container .hero-slogan h1 { font-size: 28px; } }

@media screen and (min-width: 1200px) { .hero .container .hero-slogan h1 { font-size: 60px; } }

.hero .container .hero-slogan p { color: white; font-family: Gotham-Rounded-Book; }

.hero .container .hero-social { position: absolute; bottom: 5%; left: 50%; transform: translate(-50%, 50%); font-size: calc(28px + 12 * ( (100vw - 420px) / 780)); }

@media screen and (max-width: 420px) { .hero .container .hero-social { font-size: 28px; } }

@media screen and (min-width: 1200px) { .hero .container .hero-social { font-size: 40px; } }

.hero .container .hero-social .fa-twitter { color: white; border-radius: 50%; transition: 500ms; }

.hero .container .hero-social .fa-twitter:hover { background: #1dcaff; border-radius: 50%; }

.hero .container .hero-social .fa-dribbble { color: white; transition: 500ms; }

.hero .container .hero-social .fa-dribbble:hover { background: #ea4c89; border-radius: 50%; }

.hero .container .hero-social .fa-comment-alt { color: white; transition: 500ms; border-radius: 50%; }

.hero .container .hero-social .fa-comment-alt:hover { background: #9da3a5; border-radius: 50%; }

.hero .container .hero-social .fa-twitter, .hero .container .hero-social .fa-dribble, .hero .container .hero-social .fa-comment-alt { padding: 10px; cursor: pointer; }

.get-started { height: 500px; overflow: hidden; background: #F5F6F7; }

.get-started .get-started-content { margin-top: 50px; }

.get-started .get-started-content h1 { color: #16a085; font-family: Gotham-Rounded-Medium; }

.get-started .get-started-content p { color: #222; font-family: Gotham-Rounded-Book; }

.get-started img { position: absolute; transform: translate(0%, 13%); }

@media (max-width: 992px) { .get-started img { position: absolute; transform: translate(-10%, -10%); } }

@media (max-width: 768px) { .get-started img { transform: translate(-30%, -10%); } }

@media (max-width: 480px) { .get-started img { display: none; }
  .get-started .get-started-content { margin-top: 140px; } }

.design { height: 500px; background: white; overflow: hidden; }

.design .design-gallery { width: 316px; height: 200px; z-index: 0; margin-top: 100px; margin-left: auto; margin-right: auto; }

.design .design-content { position: relative; top: 25%; }

.design .design-content h1 { color: #16a085; font-family: Gotham-Rounded-Medium; text-transform: uppercase; }

.design .design-content p { color: #222; font-family: Gotham-Rounded-Book; }

@media (max-width: 768px) { .design { height: 750px; }
  .design .design-content { display: none; }
  .design .design-gallery { margin-top: 70px; } }

@media (max-width: 480px) { .design { height: 500px; }
  .design .design-content { margin-top: 40px; display: block; }
  .design .design-gallery { display: none; } }

.gallery { height: 500px; background: #F5F6F7; }

.gallery .container { position: relative; top: 20%; }

.gallery .container .carousel-control .next, .gallery .container .carousel-control .prev { position: relative; display: inline-block; left: 98%; font-size: 20px; }

.gallery .container .gallery-carousel img { transition: 10s; }

.gallery .container .gallery-carousel img:hover { transform: scale(1.09); cursor: pointer; }

@media (max-width: 768px) { .gallery .container { top: 30%; }
  .gallery .container .carousel-control { display: none; } }

.community { height: 500px; background-image: url(../images/Livello.png); background-position: center; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; position: relative; }

.community .community-content { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.community .community-content h1 { color: white; font-family: Gotham-Rounded-Medium; text-transform: uppercase; }

.download { height: 500px; background: #F5F6F7; }

.download .download-content { margin-top: 100px; text-align: center; position: relative; }

.download .download-content h1 { text-transform: uppercase; color: #222; font-family: Gotham-Rounded-Medium; }

.download .download-content p { color: #222; font-family: Gotham-Rounded-Book; text-align: justify; }

@media (max-width: 768px) { .download .download-content { margin-top: 70px; } }

@media (max-width: 480px) { .download .download-content { margin-top: 40px; } }

.footer { background: white; }

.footer img { padding: 20px; }

.footer p { color: #222; text-align: center; font-family: Gotham-Rounded-Book; }

.footer p:first-of-type { margin-top: 20px; text-align: center; }
