/*Global colors*/
$red: red;
$green: #16a085;
$white: white;
$black: #222;
$light-gray: #F5F6F7;
$section-white: white;
$section-lightgray: #F5F6F7;



/*Navbar colors*/

$nav-bg: #16a085;
$nav-color: white;
$nav-hover: #1676a0;

/* jumbo */

$jum-header-color: white;
$jum-paragraph-color: white;


/* jumbo social */
$twitter-color: white;
$dribble-color: white;
$comment-color: white;

/* get-started... */

$get-started-header-color: #16a085;
$get-started-paragrap-color: #222;
$get-started-section-bg: #F5F6F7;


/*design*/

$design-header-color: #16a085;
$design-paragraph-color: #222;
$design-section-bg: white;

/*gallery*/

$gallery-bg-color: #F5F6F7;


/*our community*/
$our-header-color: white;

/*download*/
$download-header-color: #222;
$download-paragraph-color: #222;
$download-section-bg: #F5F6F7;

/*footer*/

$footer-paragraph-color: #222;
$footer-section-bg: white;

/*buttons*/

$green-button: #16a085;

